#{extends 'bld.html'/}
#{stylesheet src:"user.css"/}
<div class="goods">
    <div class="user_out">
        <div class="user_title">用户中心&nbsp;/&nbsp;User Center</div>
    </div>

    <!--左侧单开始-->
    <div class="user_left">

        <!--菜单开始-->
        <div class="user_menu">
            <div class="u_m_title">用户中心</div>
            <ul class="u_m_ul">
                <li><a href="/Members/welcome"><strong>欢迎页</strong></a></li>
                <li><a href="/Members/address"><strong>收货地址管理</strong></a></li>
                <li><a href="/Orders/myOrder"><strong>我的订单</strong></a></li>
                <li><a href="/Members/rePasswordUI"><strong>修改密码</strong></a></li>
            </ul>
        </div>
        <!--菜单结束-->

    </div>
    <!--左侧单结束-->

    <!--右侧开始-->
    <div class="user_right">
        <div class="user_my">

            <!--欢迎信息开始-->
            <div class="my_4">修改密码&nbsp;/ <span lang="en" xml:lang="en" id="result_box">My Profile</span>:</div>
            <!--欢迎信息结束-->

            <!--最新订单开始-->
            <div class="my_ziliao">
                <form action="/Members/rePassword" method="post">
                    <table width="801" border="0">
                        <tbody><tr>
                            <td width="8" height="33">&nbsp;</td>
                            <td width="133"><strong>输入原始密码：</strong></td>
                            <td width="391" colspan="3">
                                <input type="password" name="oldPassword"><span class="z_2">
                            *</span>&nbsp;&nbsp;&nbsp;<span class="z_2">${passwordError}</span>
                            </td>
                            <td width="26">&nbsp;</td>
                            <td width="213" align="center" rowspan="3">&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="33">&nbsp;</td>
                            <td><strong>输入新密码：</strong></td>
                            <td colspan="3">
                                <input type="password" name="newPassword">
                                <span class="z_2">*</span>&nbsp;&nbsp;&nbsp;<span class="z_2">${password1Error}</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="32">&nbsp;</td>
                            <td><strong>确认新密码：</strong></td>
                            <td colspan="3">
                                <input type="password" name="newPassword1">
                                <span class="z_2">*</span>&nbsp;&nbsp;&nbsp;<span class="z_2">${password2Error}</span>
                            </td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td height="32">&nbsp;</td>
                            <td>&nbsp;</td>
                            <td colspan="3">
                                <input type="submit" value="修改">
                                <input type="button" value="重置">
                            </td>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
            <!--最新订单结束-->
        </div>
    </div>
    <!--右侧开始-->

    <div class="clear"></div>
</div>